[core]
    editor = vim
[user]
	name = Sébastien Lerique
	email = sl@mehho.net
[giggle]
	main-window-maximized = false
	main-window-geometry = 1054x725+377+24
[push]
	default = current
[color]
	ui = auto
